
.post_list {
    grid-area: 1/1/ 2/2;
  }

.sidebar {
    grid-area: 1/2/ 2/3;
   
  }

.post_container {
    display: grid  ;
    grid-template-columns: 8fr 2fr; 
    grid-template-rows: auto auto;
  }

.auth_card {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 8%; 
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    padding: 1%；
}
.post_description {
    color : green /* Temporary need to modify after */
}
.posts .mat-list-item{
    width:50%;
    height:50%;
    max-width: 60%;
    max-height: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
   
   
}
.post {
    border:2px solid transparent;
    transition: border 1s;
}

.post :hover{
    border: 2px solid red;
}
