<div class = 'post_container'>
      <div  class = "post_list">
        <mat-list class ="posts">
          <mat-list-item *ngFor="let post of posts" class ='post'>
              <mat-card >
                <mat-card-header>
                    <!-- <div mat-card-avatar class="post_user_icon"></div> -->
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.branch}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image *ngIf="post.post_content.snapshot" src=  {{post.post_content.snapshot}} >
  
                  <mat-card-content>
                    <p class = 'post_description'> {{post.post_content.desc}} </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <!-- <mat-chip-list>
                          <mat-chip *ngFor="let tag of posts">tag</mat-chip>
                        </mat-chip-list> -->
                  </mat-card-actions>
              </mat-card>
          </mat-list-item>
        </mat-list>
      </div>

<div class = 'sidebar'>
  <mat-card class = 'auth_card'>
    <mat-card-header>
        <mat-card-title>Share forum</mat-card-title>
        <mat-card-subtitle *ngIf="!_logedin">Log in to find out more</mat-card-subtitle>
        <mat-card-subtitle *ngIf="_logedin">Welcome {{_user_name}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        小撸怡情，大撸伤身，强撸灰飞烟灭.
    </mat-card-content>

    <mat-card-actions *ngIf="!_logedin"> 
      Log in creat a post.
      <a mat-raised-button color = "accent" routerLink="/login" >Log in</a>
      <a mat-raised-button color = "accent"  routerLink="/signup" >Sign up</a>
    </mat-card-actions>

    <mat-card-actions *ngIf="_logedin"> 
        <div><a mat-raised-button color = "primary" routerLink="/submit" >Create a new post</a></div>
        <div><a mat-raised-button color = "accent" routerLink="/logout" >Log out</a></div>
    </mat-card-actions>

  </mat-card></div></div>

