
<div class="form-group">
  {{post| json}}
</div>

<div class="form-group" *ngIf="post">
  <mat-card>

    <mat-card-title><h1>{{post.title}}</h1></mat-card-title>

    <mat-card-subtitle class="btn btn-sm clickableTitle" 
      (click)="redirectByBranch()">
      {{post.branch}}
    </mat-card-subtitle>

    <mat-card-content >
      <div [innerHTML]="post.postContent"></div>
    </mat-card-content>

    <mat-card-actions id='{{postId}}'>
        <a mat-button (click)="addPostComment($event,postId)">reply</a>
    </mat-card-actions>


    <!-- todo: comment of comments -->
    <mat-list *ngFor="let i of [1,2,3]">
        <app-comment></app-comment>
    </mat-list>

  </mat-card>

</div>