
.postList {
    grid-area: 1/1/ 2/2;
  }

.sidebar {
    grid-area: 1/2/ 2/3;
  }

.postContainer {
    display: grid  ;
    grid-template-columns: 5fr 2fr; 
    grid-template-rows: auto auto;
  }

.authCard {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 8%; 
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    padding: 1%；
}

.postDescription {
    color : green /* Temporary need to modify after */
}
.posts mat-list-item{
    width:auto;
    height:auto;
    max-width: 60%;
    max-height: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;

}
.post mat-card{
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border: 1px solid gray;
    transition: 0.5s;
}

:host ::ng-deep .postContent{
    height: 100%; 
    width: calc(100% - 70px);
    overflow: auto;

}



.post :hover{
    border: 1px solid black
}

.posts .post mat-card :hover {
    border: 1px;
}

