mat-toolbar.headbar a {
  margin-right: 8px;
  color: white;
}

mat-toolbar.headbar  a:hover {
color: white;
text-decoration: none;
}

mat-toolbar.headbar  a:active {
color: white;
text-decoration: none;
}

.imgsize {
max-width: 100%;
width :auto;
height:100%;
}

.imgbgsize{
width :100%;
height:auto;
}



/* header grid view */

.header{
  grid-area: 1 /  2/ 2/ 4;
}

.header_pic{
  grid-area: 2 / 2/ 3 / 4;

}

.header_nav{
  grid-area: 3/ 2/ 4 / 4;

}
.main{
  grid-area: 4 / 2/ 5 / 4;

}
.sub_bottom{
  grid-area: 5 / 1/ 6/ 5;
  height: 50px;

}
.header_container {
  display: grid  ;
  grid-template-columns: 1fr 7fr 3fr 1fr ; 
  grid-template-rows: auto auto auto auto auto;

  
}